* {
    font-family: sans-serif;
    margin: 0;
}

/*Header*/
header {
    background-color: #03045e;
    padding: 5px 0 10px 0;
}

h1 {
    color: white;
    text-align: center;

}

.title_color {
    color: #0083fd;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

a:hover {
    color: #0083fd;
}

ul {
    list-style: none;
}

/*Main*/
main {
    background-color: #caf0f8;
    padding: 20px 0 ;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    padding: 10px 0;
}

main p {
    padding: 20px 40px;
}

img {
    border-radius: 20px;
}



iframe{
    border-radius: 20px;
}

/*Footer*/
footer {
    background-color: #03045e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer p {
    color: azure;
    padding: 0 20px;
}


