* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

/* Formulario */ 

form {
    border: rgb(133, 130, 130) 1px solid;
    border-radius: 5px;
    width: 40vw;
    margin: 10px auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

label {
    padding: 2vw;
}

input, textarea, select , button {
    margin: 4px 2vw ;
    width: 36vw;
    height: 30px;
    border-radius: 5px;
    border: rgb(133, 130, 130) 1px solid;
    margin-bottom: 10px;
    
}

input, textarea {
    padding-left: 5px;
}

textarea {
    height: 40px;
    max-width: 36vw;
    padding-top: 4px;
}

button {
    background-color: rgb(70, 168, 70);
    margin-top: 25px;
}

/* Tabla */

table {
    margin: 10px auto;
    width: 60vw;
    border-collapse: collapse;
}

th, td {
    border: rgb(133, 130, 130) 1px solid;
    padding: 5px 10px;
}

th {
    background-color: #c4c4c4;
    text-align: left;
}











