* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-primario: #000814;
    --color-secundario: #003566;
    --color-terceario: #ffd60a;
    --color-fondo: rgb(241, 241, 241);
}

header {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 3rem;
}

main {
    background-color: var(--color-fondo);
}

/* Cards */ 
.cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.title_cards{
    text-align: center;
}

.cards {
    width: 25vw;
    padding: 20px;
}

/* List */ 

.list-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list {
    width: 40vw;
    padding: 20px 40px;
}


/* imagen */
img {
    width: 80vw;
    margin: 0 auto;
    margin: 20px;
    border-radius: 20px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    
}

footer > p {
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
}