* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --verde : #34b955;
    --negro : rgb(37, 37, 37);
    --blanco : #ffe;
}

/* Header */ 

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

h1 {
    background-color: var(--verde);
    color: var(--blanco) ;
    text-align: center;
    padding: 25px 0;
}

nav {
    background-color: var(--negro) ;
}

a {
    text-decoration: none;
    color: var(--blanco) ;
}

.nav__option {
    display: inline;
    padding: 20px 20px;
}

.nav__option:hover {
    border: var(--blanco) 1px solid;
}


nav > ul {
    padding: 20px 0;
}

/* Sombra */ 
h1:hover, h2:hover, p:hover, li:hover {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* Hero Section */ 

.hero-section {
    background-color: #f7edd7;
    position: relative;
    padding: 50px 25px;
    height: 40vh;
}

.hero-section__paragraph {
    padding: 20px 0;
}

button {
    background-color: var(--verde);
    color: var(--blanco);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: var(--blanco);
    border: var(--verde) solid 1px;
    color: var(--verde);
}

img {
    width: 200px;
    position: absolute;
    right: 3rem;
    bottom: 25%;
}

img:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

/* Second Section */ 

.second-section {
    padding: 50px 25px;
}

.last {
    margin-bottom: 100px;
}

article {
    margin-top: 25px;
    padding: 50px 15px;
    background-color: #f1f0f0;
    border: #d6d6d6 solid 1px;
}

.lista-parrafo {
    padding: 15px 40px;

}

/* Footer */ 

footer {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer-paragraph {
    text-align: center;
}