* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    background-color: #ddd;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
}


/* Reviewers */ 

.reviewers {
    padding: 10px;
    width: 45vw;
    height: 35vh;
    position: absolute;
    top: 28vh;
    left: 5vw;
}

span {
    margin: 5px;
    padding: 5px 3px;
    background-color: rgb(250, 193, 7);
    border-radius: 100px;
}

.check, li {
    display: inline;
}

.check {
    width: 1.2rem;
    position: relative;
    top: 5px;
}

li {
    margin: auto 0;
}

h2 {
    font-size: 1rem;
}

/* Google */

.google {
    border-radius: 5px;
    background-color: #fff;
    width: 30vw;
    padding: 20px;
    position: absolute;
    top: 28vh;
    right: 5vw;
}

.logo_google {
    width: 4rem;
}

.estella_google {
    padding-bottom: 5px;
    width: 1rem;
}


/* Meta */ 

.meta {
    border-radius: 5px;
    background-color: #fff;
    width: 30vw;
    padding: 20px;
    position: absolute;
    bottom: 40vh;
    right: 18vw;
}

.logo_meta {
    width: 4rem;
}

.estrella_meta {
    padding-bottom: 5px;
    width: 1rem;
}


