*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    margin-top: 20px;
    text-align: center;
    color: #0d47a1;
}

/*Formulario*/

form {
    background-color: #e3f2fd;
    border-radius: 20px;
    width: 50vw;
    padding: 20px;
    margin: 10px auto;
    font-size: 1.5rem;
}

input, select,  button {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px  #0d47a1 solid;
}

button {
    padding: 5px 50px;
}


/* Tabla */ 

table {
    background-color: #e3f2fd;
    margin: 10px auto;
    width: 50vw;
    border-spacing: 10px;
    border-collapse: collapse;
}


td, th {
    border: 1px #010036 solid;
    padding: 5px;
}

th {
    background-color: #0d47a1;
    color: #e3f2fd;
}





