:root {
    --color-primario: #a6e1fa;
    --color-segundario: #00072d;
    --color-texto: #0a2472;
    --color-especial: #001c55;
}

* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Main*/

h1:hover{
    font-size: 2.1rem;
}

main {
    font-size: 1.3rem;
}

img {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

img:hover {
    height: 205px;
    width: 205px;
}

.personal {
    padding: 50px;
    text-align: center;
}

p:hover, li:hover, h3:hover, h2:hover {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

div {
    padding: 20px 50px;
    margin: 0 5%;
    color: var(--color-texto);
}

strong, em {
    color: var(--color-especial);
}

a {
    text-decoration: none;
    color: var(--color-texto);
}

a:hover{
    background-color: var(--color-texto);
    color: var(--color-primario);
    padding: 2px ;
    border-radius: 5px;
    font-size: 1.2rem;
}

/*Footer*/

footer{
    background-color: #00072d;
    color: #f0edee;
    padding: 25px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer p {
    color: #f0edee;
}

footer p:hover {
    font-size: 1.1rem;
}
